
:root{
    --bg:#ddd;
    @font-face {
        font-family: "calculator";
        src: url("./digital-7-font/Digital7Monoitalic-8xKz.ttf");
      }
}

body{
    height: 100vh;
    background-color: var(--bg);
    overflow: hidden;
    user-select: none;
    perspective: 500px;
}
.brand{
    position: relative;
    margin: auto;
    width: 250px;
    height: 150px;
   
    img{
        width: 100%;
        height: 100%;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 20%;
        left: 50%;
        translate: -50%;
        width: 100%;
        height: 20px;
        background-color:var(--bg);
        
    }
    @media(max-width: 767px){
        margin: 20px auto auto;
        width: 140px;
        height: 90px;
    }
}
.logos-con{
   
    height: 35vh;
    
    @media(max-width: 767px){
       margin-left: 12px;
        height: 20vh;
    }
    div{
        height: 100%;
        
    }
    .up-logos-con{

        column-gap: 3%;
        animation:up-column-in  1s  ease-out forwards;
        @media(max-width: 767px){
            column-gap: 10px;
         }
         
        div{
         
            @media(max-width: 767px){
               width: calc((100% - 40px) / 4);
            }
            img{
                @media(max-width: 767px){
                    scale: 1.2;
                 }
            }
        }
       
}
}
.up-row-spin{
    animation: up-row-spin .3s 8 linear , up-row-position 4s ease-out forwards;
}
.down-logos-con{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6%;
    
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 100px;
        translate: 0 200px;
        rotate: x 360deg;
        opacity: 0;
        animation: down-column-come-up 1s 1.2s linear forwards;
        @media(max-width: 767px){
            width: 50px;
        height: 40px;
        }
        &:nth-child(3){
            width: 180px;
            height:150px ;
            @media(max-width: 767px){
                width: 70px;
                 height: 70px;
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    
}
p{
    
    text-align: center;
    font-family: "calculator";
    font-size: 27px;
    opacity: 0;
    animation:opacity 1s 2.5s linear forwards ;
    color: #004e73;
        @media(max-width: 767px){
          
          scale: .7;
        }
}
.result{
    font-size: 34px;
}
.btns-con{
    
    button{
        border: none;
        opacity: 0;
        animation:opacity 1s 2.5s linear forwards ;
        
        @media(max-width: 767px){
           scale: .8;
        }
    }
}
.counter{

    width: 50px;
    height: 60px;
    margin: auto;
    background-color: #000;
    font-family: "calculator";
    font-size: 50px;
    color: #00beff;
    opacity: 0;
    animation:opacity 1s 2.5s linear forwards ;
    @media(max-width: 767px){
        scale: .7;
     }
}

.result{
    @media(max-width: 767px){
      margin-top: 20px;
     }
}
.hidden{
   display: none;
}
 
/* keyframes */

/* up-row */

@keyframes up-column-in {
   from{
   scale: 0 1;
   }
   to{
   scale: 1;
   }
}

@keyframes up-row-spin{
    from{
       
       
       rotate: y 0deg;
    }
    to{
      
       rotate: y 360deg;
    }
}
@keyframes up-row-position{
    from{
        filter: blur(4px);
       
        position: absolute;
    }
    to{
       filter: blur(0px);
        position: static;
    }
}
/* down-row */

@keyframes down-column-come-up{
   
    to{
        translate: 0 ;
        rotate: x 0deg; 
        opacity: 1;
    }
}


/* Btns-con */

@keyframes opacity{
    to{
        opacity: 1;
    }
    
}
/* Won  */


