:root {
  --bg:#e3e3e3;
}
@font-face {
  font-family: "calculator";
  src: url("./digital-7-font/Digital7Monoitalic-8xKz.ttf");
}

body {
  height: 100vh;
  background-color: var(--bg);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  perspective: 500px;
}

.brand {
  position: relative;
  margin: auto;
  width: 250px;
  height: 150px;
}
.brand img {
  width: 100%;
  height: 100%;
}
.brand::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 20px;
  background-color: var(--bg);
}
@media (max-width: 767px) {
  .brand {
    margin: 20px auto auto;
    width: 140px;
    height: 90px;
  }
}
@media (min-width: 800px) {
  .brand {
    margin: 20px auto auto;
  }
}

.logos-con {
  height: 35vh;
}
@media (max-width: 767px) {
  .logos-con {
    margin-left: 12px;
    height: 20vh;
  }
}
.logos-con div {
  height: 100%;
}
.logos-con .up-logos-con {
  -moz-column-gap: 3%;
       column-gap: 3%;
  animation: up-column-in 1s ease-out forwards;
}
@media (max-width: 767px) {
  .logos-con .up-logos-con {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 767px) {
  .logos-con .up-logos-con div {
    width: calc((100% - 40px) / 4);
  }
}
@media (min-width: 800px) {
  .logos-con .up-logos-con div {
    width: calc((100% - 200px) / 4);
  }
}
@media (min-width: 1200px) {
  .logos-con .up-logos-con div {
    width: calc((100% - 450px) / 4);
  }
}
@media (max-width: 767px) {
  .logos-con .up-logos-con div img {
    scale: 1.2;
  }
}
@media (max-width: 767px) {
  .logos-con .up-logos-con #spirit img {
    scale: 1.5;
  }
}
@media (min-width: 1200px) {
  .logos-con .up-logos-con #spirit img {
    scale: 1.3;
  }
}

.up-row-spin {
  animation: up-row-spin 0.3s 8 linear, up-row-position 4s ease-out forwards;
}

.down-logos-con {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 6%;
       column-gap: 6%;
}
.down-logos-con div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100px;
  translate: 0 200px;
  opacity: 0;
  filter: blur(13px);
  animation: down-column-come-up 1s 1.2s linear forwards;
}
@media (max-width: 767px) {
  .down-logos-con div {
    width: 50px;
    height: 40px;
  }
}
@media (min-width: 800px) {
  .down-logos-con div {
    scale: 0.7;
  }
}
@media (min-width: 1200px) {
  .down-logos-con div {
    scale: 1;
  }
}
.down-logos-con div:nth-child(4) {
  width: 180px;
  height: 150px;
}
@media (max-width: 767px) {
  .down-logos-con div:nth-child(4) {
    width: 70px;
    height: 70px;
  }
}
.down-logos-con div img {
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
  font-family: "calculator";
  font-size: 27px;
  opacity: 0;
  animation: opacity 1s 2.5s linear forwards;
  color: #004e73;
}
@media (max-width: 1000px) {
  p {
    scale: 0.7;
  }
}

.result {
  font-size: 34px;
}

@media (max-width: 767px) {
  button {
    scale: 0.8;
  }
}

.start-btn {
  border: none;
  opacity: 0;
  animation: opacity 1s 2.5s linear forwards;
}

.reset-btn {
  opacity: 1;
}

.counter-starts-con {
  position: relative;
  width: 300px;
  margin: auto;
}
.counter-starts-con i {
  position: absolute;
  color: gold;
  opacity: 0;
}
.counter-starts-con i:nth-child(1) {
  top: 22px;
  left: 80px;
}
.counter-starts-con i:nth-child(2) {
  top: 22px;
  left: 30px;
}
.counter-starts-con i:nth-child(4) {
  top: 22px;
  right: 80px;
}
.counter-starts-con i:nth-child(5) {
  top: 22px;
  right: 30px;
}
.counter-starts-con .counter {
  position: relative;
  width: 50px;
  height: 60px;
  margin: auto;
  background-color: #000;
  font-family: "calculator";
  font-size: 50px;
  color: #00beff;
  opacity: 0;
  animation: opacity 1s 2.5s linear forwards;
}
@media (max-width: 767px) {
  .counter-starts-con .counter {
    scale: 0.7;
  }
}
.counter-starts-con .counter div {
  position: absolute;
}

.stars {
  animation: stars 0.8s 8 forwards, stars-stop 1s 1s forwards;
}

@media (max-width: 767px) {
  .result {
    margin-top: 20px;
  }
}

.speaker {
  position: absolute;
  top: 20px;
  left: 30px;
}
@media (max-width: 767px) {
  .speaker {
    top: 7px;
    left: 15px;
  }
}
@media (min-width: 1200px) {
  .speaker {
    left: 10%;
  }
}
.speaker button {
  position: absolute;
  border: none;
  outline: none;
  background-color: var(--bg);
}
.speaker button:first-child {
  color: red;
}
.speaker button:last-child {
  color: #025fff;
}

.hidden {
  display: none;
}

/* keyframes */
/* up-row */
@keyframes up-column-in {
  from {
    scale: 0 1;
  }
  to {
    scale: 1;
  }
}
@keyframes up-row-spin {
  from {
    rotate: y 0deg;
  }
  to {
    rotate: y 360deg;
  }
}
@keyframes up-row-position {
  from {
    filter: blur(4px);
    position: absolute;
  }
  to {
    filter: blur(0px);
    position: static;
  }
}
/* down-row */
@keyframes down-column-come-up {
  to {
    translate: 0;
    opacity: 1;
    filter: blur(0px);
  }
}
/* Btns-con */
@keyframes opacity {
  to {
    opacity: 1;
  }
}
/* Won  */
@keyframes stars {
  to {
    opacity: 1;
    scale: 2.5;
  }
}
@keyframes stars-stop {
  to {
    opacity: 1;
    color: #00beff;
  }
}/*# sourceMappingURL=index.css.map */